.menu-container {
	max-width: 960px;
	margin: auto;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	height: 5rem;
	position: relative;
	width: 100%;
	background: white;
}

.menu-container.menu-logo {
	min-width: 98px;
	margin-right: 2rem;
}

.menu-container a {
	text-decoration: none;
	cursor: pointer;
	color: #909090;
}

.menu-container li {
	list-style: none;
}

.menu-container .menu-nav {
	height: 100%;
	flex: 1 0 auto;
}

.menu-container .menu-list {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 100%;
	margin: 0;
}

.menu-container .main-nav-list,
.menu-container .phone-hide {
	display: flex;
}

.menu-container .phone-show-menu {
	cursor: pointer;
	display: none;
}

.menu-container .nav-item.link-item {
	padding: 0 1.6rem;
	height: 5rem;
	position: relative;
}

.menu-container .nav-item {
	color: #71777c;
	padding: 0 1.2rem;
	font-size: 1.33rem;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.menu-container a,
.menu-container button,
.menu-container input {
	margin: initial;
}

.menu-container .nav-item.submit,
.menu-container .nav-item.auth,.menu-container .nav-item.auth  a {
	color: #007fff;
	position: relative;
}


.menu-container .nav-item :hover {
	cursor: pointer;
	color: #007fff;
}

.details {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	margin-top: 1.767rem;
	padding: 0 0 8rem;
}

.details-article-area {
	padding: 2rem 2rem 3rem;
}

.details-area {
	position: relative;
	width: 700px;
	max-width: 100%;
	background-color: #fff;
	border-radius: 2px;
	box-sizing: border-box;
}

.details-sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 20rem;
	background: white;
}

.details-area-author {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.details a {
	text-decoration: none;
	cursor: pointer;
	color: #909090;
}

.details-area-author a {
	display: inline-block;
	max-width: 100%;
	font-size: 1.3rem;
	font-weight: 700;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.details-area-author div {
	font-size: 1.1rem;
	color: #909090;
}

.details-area-author time {
	letter-spacing: 1px;
}

.details-area-author span {
	margin-left: .5em;
}

.details-area-title {
	margin: .67em 0;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.5;
}

.details-sidebar-author {
	padding: 1rem 1.3rem;
	font-size: 1.16rem;
	color: #333;
	border-bottom: 1px solid hsla(0, 0%, 58.8%, .1);
}

.details-sidebar-item {
	padding: 1.3rem;
	display: flex;
	align-items: center;
}

.details-headPortrait{
	    flex: 0 0 auto;
    margin-right: 1rem;
    width: 3.333rem;
    height: 3.333rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eee
}

.details-sidebar-avatar {
	flex: 0 0 auto;
	margin-right: 1rem;
	width: 4.167rem;
	height: 4.167rem;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #eee;
}

.details-info-box {
	flex: 1 1 auto;
	min-width: 0;
}

.details-sidebar-username {
	font-size: 1.333rem;
	font-weight: 600;
	color: #000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.details-sidebar-position {
	margin-top: .8rem;
	font-size: 1.25rem;
	color: #72777b;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.details-sidebar-introduce {
	padding: 1.3rem;
}

.details-sidebar-div {
	border-bottom: 1px solid hsla(0, 0%, 58.8%, .1);
}

.blogList {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	margin-top: 1.767rem;
	background: white;
}

.blogList-box {
	display: flex;
	align-items: center;
	padding: 1.5rem 2rem;
	border-bottom: 1px solid rgba(178, 186, 194, .15);
}

.blogList-info {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 0;
}

.blogList-meta {
	font-size: 1rem;
	color: #b2bac2;
}

.blogList-meta-list {
	display: flex;
	align-items: baseline;
	white-space: nowrap;
}

.blogList-meta-list li {
	min-width: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blogList-meta-list li:nth-of-type(1):after {
	content: "·";
	margin: 0 .4em;
	color: #b2bac2;
}
/*
.blogList-meta-list li:nth-of-type(2):after {
	content: "·";
	margin: 0 .4em;
	color: #b2bac2;
}*/

.blogList-title {
	margin: .5rem 0 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blogList-title a {
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.2;
	color: #2e3135;
}

.blogList-meta {
	padding-right: 0!important;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
}

.blogList-meta a {
	margin-right: 10px;
	color: #b4b4b4;
}

.blogList-meta a:hover svg {
	color: #1dc400;
}

.exhibition {
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.exhibition .ql-toolbar {
	display: none;
}

.exhibition .ql-container {
	border: none!important;
}

.article-h1 {
	float: left;
}

.article-h1 input,
.article-h2 input {
	    margin: 0;
    padding: 0;
    font-size: 5rem;
    font-weight: 700;
    color: #000;
    border: none;
    outline: none;
    /* padding: 0 1.4rem; */
    height: 7.334rem;
    width: calc(100% - 2rem);
    padding-left: 2rem;
}


.article-h2,
.article-h1 {
	height: 100%;
	width: 48%;
	margin: 1rem;
	background: white;
	min-height: 60rem;
}

.article-h2 {
	float: right;
}
.article-h2 .ql-editor ,.article-h1 .ql-editor{
	min-height: 60rem;
}
.article-h3{
	    margin-right: 1rem;
    text-align: right;
}
